{% extends 'news_site/pokenews_template.html' %}
{% load static %}
{% block body %}
<!--Courses-->
<section id="courses" class="section-padding">
	<div class="container">
		<div class="row" style="width: 100%;">
			<div class="header-section text-center">
				<h2>Pokemon Games Available and Released</h2>
				<p>Here are some of the hottest topic and announcements in your favorite franchise</p>
				<hr class="bottom-line">
			</div>
		</div>
	</div>
	<div class="container" >
		<div class="row" style="width: 100%;">
			<center>
				<div class="col-md-4 col-md-offset-2 col-xs-12 col-sm-6  padleft-right" >
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/q.png' %}" class="img-responsive"  style="height: 400px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 padleft-right">
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/w.jpg' %}" class="img-responsive"  style="height: 400px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>
				<div class="col-md-6 col-sm-10  col-md-offset-3 col-sm-offset-1 padleft-right" >
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/e.jpg' %}" class="img-responsive" width="100%"  style="height: 600px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-2 padleft-right" >
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/r.jpg' %}" class="img-responsive" style="height: 390px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>
				<div class="col-md-4 col-sm-6 padleft-right" >
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/t.jpg' %}" class="img-responsive"  style="height: 390px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>
				<div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-3 padleft-right" >
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/y.jpg' %}" class="img-responsive" width="100%"  style="height: 600px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-2 padleft-right" >
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/u.jpg' %}" class="img-responsive" width="100%" style="height: 400px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>
				<div class="col-md-4 col-sm-6 padleft-right" >
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/i.jpg' %}" class="img-responsive" width="100%" style="height: 400px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>
				<div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-3 padleft-right" >
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/o.jpg' %}" class="img-responsive" width="100%"  style="height: 600px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-2 padleft-right" >
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/a.jpg' %}" class="img-responsive" style="height: 370px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>
				<div class="col-md-4 col-sm-6 padleft-right" >
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/s.jpg' %}" class="img-responsive"  style="height: 370px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>
				<div class="col-md-6 col-sm-4 col-md-offset-3 padleft-right" >
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/d.jpg' %}" class="img-responsive"  style="height: 600px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-2 padleft-right" >
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/f.png' %}" class="img-responsive" style="height: 360px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>
				<div class="col-md-4 col-sm-6 padleft-right" >
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/g.jpg' %}" class="img-responsive" style="height: 360px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>
				<div class="col-md-10 col-sm-4 col-md-offset-1 padleft-right" >
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/h.jpg' %}" class="img-responsive"  style="height: 470px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-2 padleft-right" >
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/z.jpg' %}" class="img-responsive"  style="height: 360px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>
				<div class="col-md-4 col-sm-6 padleft-right" >
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/x.jpg' %}" class="img-responsive"  style="height: 360px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-2 padleft-right" >
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/c.png' %}" class="img-responsive"  style="height: 360px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>
				<div class="col-md-4 col-sm-6 padleft-right" >
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/v.jpg' %}" class="img-responsive"  style="height: 360px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>
				<div class="col-md-10 col-sm-4 col-md-offset-1 padleft-right" >
					<figure class="imghvr-fold-up">
						<img src="{% static 'img/b4.jpg' %}" class="img-responsive" width="100%"  style="height: 470px">
						<figcaption>
							<h3>PRIMAL CLASH!</h3>
							<p>Primal Groudon and Primal Kyogre Clashes! Who will prevail? the land or the ocean?</p>
						</figcaption>
						<a href="#"></a>
					</figure>
				</div>


			</center>
		</div>
	</div>
</section>
<!--/ Courses-->
{% endblock %}